*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
  font-family: 'Tilt Neon', cursive;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --neon-border-color: #02a6f2;
  --neon-text-color1: #3fff14;
  --neon-text-color2: #df00fe;
  --neon-shadow: 
    0 0 3px #fff, 
    0 0 5px #fff, 
    0 0 7px var(--neon-border-color), 
    0 0 9px var(--neon-border-color), 
    0 0 11px var(--neon-border-color), 
    0 0 13px var(--neon-border-color), 
    0 0 15px var(--neon-border-color);
  --neon-text-shadow1: 
    0 0 3px #fff, 
    0 0 5px #fff, 
    0 0 7px var(--neon-text-color1), 
    0 0 9px var(--neon-text-color1), 
    0 0 11px var(--neon-text-color1), 
    0 0 13px var(--neon-text-color1), 
    0 0 15px var(--neon-text-color1);
  --neon-text-shadow2: 
    0 0 3px #fff, 
    0 0 5px #fff, 
    0 0 7px var(--neon-text-color2), 
    0 0 9px var(--neon-text-color2), 
    0 0 11px var(--neon-text-color2), 
    0 0 13px var(--neon-text-color2), 
    0 0 15px var(--neon-text-color2);
  --color1: rgb(255, 20, 147);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  font-size: 3rem;
  background-color: var(--color1);
  text-shadow: 
    0 0 10px #fff, 
    0 0 20px var(--neon-border-color);
  box-shadow: 0 0 2rem 0.5rem var(--color1);
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
}

.score-display {
  margin-top: 20px;
  font-size: 1.5rem;
}

.score-display > p {
  text-align: center;
  font-size: 2rem;
  text-shadow: var(--neon-shadow);
}

.score-wrapper {
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.green {
  text-shadow: var(--neon-text-shadow1);
}

.white {
  text-shadow: var(--neon-shadow);
}

.purple {
  text-shadow: var(--neon-text-shadow2);
}

.board {
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  align-items: stretch;
  box-shadow: 
    0 0 3px #fff, 
    0 0 5px #fff, 
    inset 0 0 7px var(--neon-border-color), 
    inset 0 0 9px var(--neon-border-color), 
    inset 0 0 11px var(--neon-border-color), 
    inset 0 0 13px var(--neon-border-color), 
    inset 0 0 15px var(--neon-border-color);
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--neon-shadow);
  text-shadow: var(--neon-shadow);
}

img {
  height: 120px;
  filter: drop-shadow(0px 0px 10px white);
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 2rem;
  border-radius: 0.25rem;
  background-color: black;
  color: var(--color1);
  border: var(--color1) 0.125em solid;
  text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3), 0 0 0.45rem var(--color1);
  box-shadow: inset 0 0 0.5rem 0 var(--color1), 0 0 0.5rem 0 var(--color1);
}

.btn:hover {
  background-color: var(--color1);
  color: white;
  box-shadow: 0 0 2rem 0.5rem var(--color1);
}

.choose-mode {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 400px;
  padding-top: 15px;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.25rem;
  background-color: black;
  border: var(--color1) 0.125em solid;
  text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3), 0 0 0.45rem var(--color1);
  box-shadow: inset 0 0 0.5rem 0 var(--color1), 0 0 0.5rem 0 var(--color1);
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.disabled {
  display: none;
}